{% extends 'story4/template.html' %}

{% load static %}

{% block title %}Story 9{% endblock title %}

{% block add-style %}
{% endblock add-style %}

{% block content %}
<div class="h-100 main" style="background-image: url('/static/story4/images/background-home.png'); background-size: cover;">
    <div class="container h-100 w-50" style="background: rgba(255, 255, 255, 0.9)">
        <div class="d-flex flex-column justify-content-center w-75" style="margin-left: auto; margin-right: auto;">
            <div style="height: 170px;"></div>

            <div class="justify-content-center">
                {% if not user.is_authenticated %}

                <h3 class="register-title" style="text-align: center;">Login Here</h3>

                <div style="height: 50px;"></div>

                <form action="/story9/" method="POST">
                    {% csrf_token %}
            
                    <div>
                        <label for="username">Username</label>
                        <input class="form-control" type="text" name="username" placeholder="Enter your username" required>
                    </div>
                    <div style="height: 20px;"></div>
                    <div>
                        <label for="password">Password</label> <br>
                        <input class="form-control" type="password" name="password" placeholder="Enter your password" required>
                    </div>
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    <div style="height: 40px;"></div>
                    
                    <p class="to-register">Don't have an account? Create one <a class="to-register-ref" href="register/">here</a></p>
                    
                    <button type="submit" class="btn btn-primary w-100">Log In</button>
                </form>

                {% else %}

                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td colspan=2>
                                <h3 style="text-align: center;">Welcome {{ user.first_name }} {{ user.last_name }}!</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'story1:index' %}">
                                    <button type="submit" class="btn btn-info w-100">Story 1</button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'story4:index' %}">
                                    <button type="submit" class="btn btn-info w-100">Story 4</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'story4:course' %}">
                                    <button type="submit" class="btn btn-info w-100">Story 5</button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'story6:index' %}">
                                    <button type="submit" class="btn btn-info w-100">Story 6</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'story4:about' %}">
                                    <button type="submit" class="btn btn-info w-100">Story 7</button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'story8:index' %}">
                                    <button type="submit" class="btn btn-info w-100">Story 8</button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <a href="{% url 'story9:logout' %}">
                                    <button type="submit" class="btn btn-primary w-100">Log Out</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}