{% extends 'story4/template.html' %}

{% load static %}

{% block title %}Story 9{% endblock title %}

{% block add-style %}
{% endblock add-style %}

{% block content %}
<div class="h-100 main" style="background-image: url('/static/story4/images/background-home.png'); background-size: cover;">
    <div class="container h-100 w-50" style="background: rgba(255, 255, 255, 0.9)">
        <div class="d-flex flex-column justify-content-center w-75" style="margin-left: auto; margin-right: auto;">
            <div style="height: 130px;"></div>

            <div class="justify-content-center">
                <h3 class="register-title" style="text-align: center;">Register Here</h3>

                <div style="height: 50px;"></div>

				<form method="POST" class="form-group">
					<table class="table">
						<tbody>
							<tr>
								<th>
									<label for="id_username">Username:</label>
								</th>
								<td>
									<input class="form-control" type="text" name="username" maxlength="150" id="id_username" placeholder="Username">
								</td>
							</tr>
							<tr>
								<th>
									<input class="form-control" type="text" name="first_name" maxlength="150" id="id_first_name" placeholder="First Name">
								</th>
								<td>
									<input class="form-control" type="text" name="last_name" maxlength="150" id="id_last_name" placeholder="Last Name">
								</td>
							</tr>
							<tr>
								<td colspan=2>
									<input class="form-control" type="email" name="email" maxlength="254" id="id_email" placeholder="Email">
								</td>
							</tr>
							<tr>
								<th>
									<label for="id_password1">Password:</label>
								</th>
								<td>
									<input class="form-control" type="password" name="password1" autocomplete="new-password" required id="id_password1" placeholder="Password">
								</td>
							</tr>
							<tr>
								<th>
									<label for="id_password2">Confirm Password:</label>
								</th>
								<td>
									<input class="form-control" type="password" name="password2" autocomplete="new-password" required id="id_password2" placeholder="Confirm Password">
								</td>
							</tr>
							<tr>
								<td colspan=2>
									{% for message in messages %}
									{{ message }}
									{% endfor %}
									{% csrf_token %}
									<button type="submit" class="btn btn-primary w-100">Register</button>
								</td>
							</tr>
						</tbody>
					</table>
				</form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}