{% extends 'story4/template.html' %}

{% load static %}

{% block title %}Kevin Dharmawan - Blog{% endblock title %}
{% block nav-story6 %}active{% endblock nav-story6 %}

{% block content %}

<div class="container">
    <center>
    <div class="row" style="height:150px;"></div>
    <div class="row justify-content-center">
        <h1 style="color: coral; padding: 30px;">manage participant</h1>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-hover" style="width: 700px;">
                <tbody>
        
                {% for person in persons %}
        
                    <tr>
                        <td style="width: 250px;">{{ person.name }}</td>
                        <td style="width: 200px;">{{ person.domicile }}</td>
                        <td>
                            <form action="/story6/addparticipant/{{ event.id }}/{{ person.id }}" method="POST" style="display: inline;">
                                {% csrf_token %}
                                <input class="btn btn-primary" type="submit" value="Add Participant" style="width: 100%;">
                            </form>
                        </td>
                        <td>
                            <form action="/story6/deleteperson/{{ event.id }}/{{ person.id }}" method="POST" style="display: inline;">
                                {% csrf_token %}
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
        
                {% endfor %}

                {% for participant in event.participant.all %}

                    <tr>
                        <td style="width: 250px;">{{ participant.name }}</td>
                        <td style="width: 200px;">{{ participant.domicile }}</td>
                        <td>
                            <form action="/story6/removeparticipant/{{ event.id }}/{{ participant.id }}" method="POST" style="display: inline;">
                                {% csrf_token %}
                                <input class="btn btn-danger" type="submit" value="Remove Participant" style="width: 100%;">
                            </form>
                        </td>
                        <td>
                            <form action="/story6/deleteperson/{{ event.id }}/{{ person.id }}" method="POST" style="display: inline;">
                                {% csrf_token %}
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>

                {% endfor %}
        
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <a class="btn btn-success" style="padding-left: 50px; padding-right: 50px;" href= "{% url 'story6:addperson' %}">Add New Participant</a>
    </div>
    </center>
</div>

{% endblock content %}