{% extends 'story4/template.html' %}

{% load static %}

{% block title %}Kevin Dharmawan - Blog{% endblock title %}
{% block nav-story6 %}active{% endblock nav-story6 %}

{% block content %}

<div class="container justify-content-center">
    <div class="row" style="height:100px;"></div>
    <div class="row justify-content-center">
        <h1 style="color: coral; padding: 30px;">events</h1>
    </div>

    {% if events %}

    <div class="row">
        <div class="col justify-content-center">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="width: 200px;">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col" style="width: 200px;">Participants</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
        
                {% for event in events %}
        
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.description }}</td>
                        <td>
                            {% for person in event.participant.all %}
                            <p>{{ person.nickname }}</p>
                            {% endfor %}
                        </td>
                        <td>
                            <form action="/story6/editparticipant/{{ event.id }}" method="POST" style="display: inline;">
                                {% csrf_token %}
                                <input class="btn btn-primary" type="submit" value="Participants" style="width: 100%;">
                            </form>
                            <div style="height: 3px;"></div>
                            <form action="/story6/deleteevent/{{ event.id }}" method="POST" style="display: inline;">
                                {% csrf_token %}
                                <input class="btn btn-danger" type="submit" value="Delete" style="width: 100%;">
                            </form>
                        </td>
                    </tr>
        
                {% endfor %}
        
                </tbody>
            </table>
        </div>
    </div>

    {% else %}

    <div class="row justify-content-center">
        <h3>you don't have any event.</h3>
    </div>

    {% endif %}
    
    <div class="row justify-content-center">
        <a class="btn btn-success" style="padding-left: 50px; padding-right: 50px;" href= "{% url 'story6:addevent' %}">Add Event</a>
    </div>
    <div class="row" style="height:100px;"></div>
    
</div>

{% endblock content %}