{% extends 'story4/template.html' %}

{% load static %}

{% block title %}Kevin Dharmawan - About{% endblock title %}
{% block nav-about %}active{% endblock nav-about %}

{% block add-style %}
{% endblock add-style %}

{% block content %}
<div class="d-flex flex-column justify-content-center">

    <div style="height: 200px;"></div>

    <div class="d-flex flex-row justify-content-center align-items-center">
        <div>
            <img id="aboutpic" src="{% static 'story4/images/aboutpic.jpg' %}">
        </div>
        <div class="justify-content-center">
            <div style="width: 450px; margin-left: 50px; margin-top: auto; margin-bottom: auto; text-align: left;">
                <h3 style="color: coral; word-wrap: break-word;">
                    Hi, I’m Kevin, a  Computer Science student from University of Indonesia
                </h3>
                <p style="word-wrap: break-word;">
                    I have no prior knowledge to programming when I decided to
                    major in Computer Science. The only thing I knew was it’s cool
                    and makes a lot of money and now i think it’s one of the best
                    decision i’ve made.<br>
                    I always love to learn new things, especially things within my
                    area of interest that I mentioned in the “home” page. I also like
                    to do brain-consuming activity for fun, like doing puzzles or
                    playing Rubik’s cube.
                </p>
            </div>
        </div>
    </div>

    <div id="separator"></div>

    <div class="justify-content-center" style="text-align: center;">
        <h3 style="color: coral; margin-bottom: 30px;">education.</h3>
        <img style="width: 80%;" src="{% static 'story4/images/education.png' %}">
    </div>

    <div id="separator"></div>

    <div class="d-flex flex-column justify-content-center">
        <div>
            <h3 class="middle" style="color: coral; margin-bottom: 30px;">currently learning.</h3>
        </div>
        <div class="d-flex flex-row justify-content-md-center">
            <div>
                <img class="learn" src="{% static 'story4/images/learn-1.jpg' %}">
                <h4 style="color: coral; text-align: center;">video editing</h4>
            </div>
            <div>
                <img class="learn" src="{% static 'story4/images/learn-2.jpg' %}">
                <h4 style="color: coral; text-align: center;">stock analysis</h4>
            </div>
            <div>
                <img class="learn" src="{% static 'story4/images/learn-3.jpg' %}">
                <h4 style="color: coral; text-align: center;">web development</h4>
            </div>
        </div>
    </div>

    <div id="separator"></div>

    <h3 style="color: coral; margin-bottom: 30px; text-align: center;">accordion.</h3>
    <div class="d-flex flex-column w-50" style="margin-left: auto; margin-right: auto;">
        <div class="accordion">
            <div class="d-flex flex-row">
                <div class="mr-auto">
                    <p>Fun Facts About Me</p>
                </div>
                <div>
                    <p class="up-button">&#9650</p>
                </div>
                <div>
                    <p class="down-button">&#9660</p>
                </div>
            </div>
            <div class="accordion-content">
                <p>
                    1. I can solve Rubik's Cube in under a minute<br>
                    2. I'm in a national magazine in my first year on Earth<br>
                    3. I've mastered sixth grade math and science on second grade<br>
                </p>
            </div>
        </div>
        <div class="accordion">
            <div class="d-flex flex-row">
                <div class="mr-auto">
                    <p>Lockdown Activities</p>
                </div>
                <div>
                    <p class="up-button">&#9650</p>
                </div>
                <div>
                    <p class="down-button">&#9660</p>
                </div>
            </div>
            <div class="accordion-content">
                <p>
                    1. Online class, obviously<br>
                    2. Watch Tiktok videos<br>
                    3. Gaming with the boys<br>
                    3. Learning personal finance<br>
                </p>
            </div>
        </div>
        <div class="accordion">
            <div class="d-flex flex-row">
                <div class="mr-auto">
                    <p>Games I Like</p>
                </div>
                <div>
                    <p class="up-button">&#9650</p>
                </div>
                <div>
                    <p class="down-button">&#9660</p>
                </div>
            </div>
            <div class="accordion-content">
                <p>
                    1. Minecraft<br>
                    2. GTA V<br>
                    3. Roblox<br>
                    4. Pokemon<br>
                    5. Cities Skylines<br>
                </p>
            </div>
        </div>
        <div class="accordion">
            <div class="d-flex flex-row">
                <div class="mr-auto">
                    <p>Organization and Achievement</p>
                </div>
                <div>
                    <p class="up-button">&#9650</p>
                </div>
                <div>
                    <p class="down-button">&#9660</p>
                </div>
            </div>
            <div class="accordion-content">
                <p>
                    Nothing because I'm a piece of sh*t.
                </p>
            </div>
        </div>
    </div>

    <div id="separator"></div>
</div>



<div class="d-xl-flex" style="height: 60px; margin-top: 100px;">
    <div class="middle">
        <a href="https://www.instagram.com/kevindharmawan2002/">
            <img class="contact" src="{% static 'story4/icons/instagram.png' %}" style="border-radius: 50%;">
        </a>
        <a href="https://www.facebook.com/kevin.dharmawan.9/">
            <img class="contact" src="{% static 'story4/icons/facebook.png' %}">
        </a>
        <a href="https://www.linkedin.com/in/kevin-dharmawan-0363151a0/">
            <img class="contact" src="{% static 'story4/icons/linkedin.png' %}">
        </a>
        <a href="mailto: kevin.dharmawan@ui.ac.id">
            <img class="contact" src="{% static 'story4/icons/gmail.png' %}">
        </a>
    </div>
</div>

{% endblock content %}