{% extends 'story4/template.html' %}

{% load static %}

{% block title %}Kevin Dharmawan - Course{% endblock title %}
{% block nav-course %}active{% endblock nav-course %}

{% block add-style %}
#id_name, #id_initial, #id_lecturer, #id_credit, #id_description, #id_year, #id_difficulty, #id_room {
    width: 400px;
}
{% endblock add-style %}

{% block content %}


<div class="container">
    <div class="row" style="height:150px;"></div>
    <div class="row justify-content-center">
        <h2 style="color: coral; padding: 30px;">add course</h2>
    </div>
    <div class="row justify-content-center">
        <div class="table-responsive-lg">
            <form action="" method="POST">
            <table class="table">
                <tbody>
                    {{ form.as_table }}
                    <tr>
                        <th></th>
                        <td>
                            {% csrf_token %}
                            <input class="btn btn-primary" type="submit" value="Add Course" style="padding-right: 50px; padding-left: 50px;">
                        </td>
                    </tr>
                </tbody>
            </table>
            </form>
        </div>
    </div>
    <div class="row" style="height: 150px;"></div>
</div>


{% endblock content %}