{% extends 'story4/template.html' %}

{% load static %}

{% block title %}Kevin Dharmawan - Blog{% endblock title %}
{% block nav-blog %}active{% endblock nav-blog %}

{% block content %}
<div class="container-fluid justify-content-center" style="padding-top: 12%;">
    <h2 class="middle" style="color: coral;">my story</h2>
</div>

<div>
    <div class="d-md-flex justify-content-center">
        <div class="d-flex justify-content-center blog">
            <div>
                <img class="blogpic" src="{% static 'story4/images/blog-1.jpg' %}">
                <h4 class="blogtitle">Blog Title Here</h4>
                <p class="blogdate">03 Oct 2020</p>
                <p class="highlights">
                    write blog highlights sentences, most significant paragraph or sentence, opening paragraph,
                    or clickbait paragraph or sentence
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center blog">
            <div>
                <img class="blogpic" src="{% static 'story4/images/blog-2.jpg' %}">
                <h4 class="blogtitle">Blog Title Here</h4>
                <p class="blogdate">02 Oct 2020</p>
                <p class="highlights">
                    write blog highlights sentences, most significant paragraph or sentence, opening paragraph,
                    or clickbait paragraph or sentence
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center blog">
            <div>
                <img class="blogpic" src="{% static 'story4/images/blog-3.jpg' %}">
                <h4 class="blogtitle">Blog Title Here</h4>
                <p class="blogdate">01 Oct 2020</p>
                <p class="highlights">
                    write blog highlights sentences, most significant paragraph or sentence, opening paragraph,
                    or clickbait paragraph or sentence
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}