{% extends 'story4/template.html' %}

{% load static %}

{% block title %}Kevin Dharmawan - Course{% endblock title %}
{% block nav-course %}active{% endblock nav-course %}

{% block content %}


<div class="container">
    <div class="row" style="height:150px;"></div>
    <div class="row justify-content-center">
        <h1 style="color: coral; padding: 30px;">my courses</h1>
    </div>

    {% if courses %}

    <div class="row">
        <div class="col-xl justify-content-center">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Credit</th>
                        <th scope="col">Lecturer</th>
                        <th scope="col">Detail</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
        
                {% for course in courses %}
        
                    <tr>
                        <th scope="row">{{ course.initial }}</th>
                        <td>{{ course.credit }}</td>
                        <td>{{ course.lecturer }}</td>
                        <td>
                            <form action="/detailcourse/{{ course.id }}" method="GET" style="display: inline;">
                                {% csrf_token %}
                                <input class="btn btn-primary" type="submit" value="Detail">
                            </form>
                        </td>
                        <td>
                            <form action="/deletecourse/{{ course.id }}" method="POST" style="display: inline;">
                                {% csrf_token %}
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
        
                {% endfor %}
        
                </tbody>
            </table>
        </div>
    </div>

    {% endif %}
    
    <div class="row justify-content-center">
        <a class="btn btn-success" style="padding-left: 50px; padding-right: 50px;" href= "{% url 'story4:addcourse' %}">Add Course</a>
    </div>
    <div class="row" style="height: 150px;"></div>

</div>


{% endblock content %}