{% extends 'story4/template.html' %}

{% load static %}

{% block title %}Kevin Dharmawan - Course{% endblock title %}
{% block nav-course %}active{% endblock nav-course %}

{% block content %}


<div class="container">
    <div class="row" style="height:150px;"></div>
    <div class="row justify-content-center">
        <h2 style="color: coral; padding: 30px;">course detail</h2>
    </div>
    <div class="row justify-content-center">
        <div class="table-responsive-lg" style="width: 500px;">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Name:</th>
                        <td>{{ course.name }}</td>
                    </tr>
                    <tr>
                        <th>Lecturer:</th>
                        <td>{{ course.lecturer }}</td>
                    </tr>
                    <tr>
                        <th>Credit:</th>
                        <td>{{ course.credit }}</td>
                    </tr>
                    <tr>
                        <th>Difficulty:</th>
                        <td>{{ course.difficulty }}</td>
                    </tr>
                    <tr>
                        <th>Description:</th>
                        <td>{{ course.description }}</td>
                    </tr>
                    <tr>
                        <th>Year:</th>
                        <td>{{ course.year }}</td>
                    </tr>
                    <tr>
                        <th>Room:</th>
                        <td>{{ course.room }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="height: 150px;"></div>
</div>


{% endblock content %}