{% extends 'story4/template.html' %}

{% load static %}

{% block title %}Kevin Dharmawan - Home{% endblock title %}
{% block nav-home %}active{% endblock nav-home %}

{% block content %}
<div class="container-fluid home-greetings">
    <div class="middle" style="color: white; margin: 0;">

        {% if user.is_authenticated %}
        <h1>Hey {{ user.first_name }}! It's me, Kevin.</h1>
        {% else %}
        <h1>Hey there! It's me, Kevin.</h1>
        {% endif %}

        <h2>welcome to my website</h2>
    </div>
</div>
<div class="container-fluid page">
    <div class="middle">
        <img id="homepic" class="rounded-circle" src="{% static 'story4/images/homepic.jpg' %}">
        <div style="width: 400px; margin-left: auto; margin-right: auto;">
            <h2 style="color: coral; margin: 10px;">hello.</h2>
            <p style="word-wrap: break-word;">
                I love to do things that involved analysis and creativity. I spent
                an excessive amount of time learning design, technology, architecture
                language, economy, finance, history, health, and psychology.
            </p>
        </div>
    </div>
</div>
<div class="d-xl-flex" style="height: 110%;">
    <div class="middle">
        <h2 style="color: coral; margin-bottom: 30px;">things i like.</h2>
        <table class="skill" style="margin-left: auto; margin-right: auto;">
            <tr>
                <td><img id="skillpic" style="border-color: hotpink;" src="{% static 'story4/images/skill-1.jpg' %}"></td>
                <td>
                    <h3 style="color: hotpink;">graphic design</h3>
                    <h5>
                        this is one of a few skills i learned<br>
                        during quarantine because it can<br>
                        complement my other hobbies.
                    </h5>
                </td>
            </tr>
            <tr>
                <td><img id="skillpic" style="border-color: rebeccapurple;" src="{% static 'story4/images/skill-2.jpg' %}"></td>
                <td>
                    <h3 style="color: rebeccapurple;">personal finance</h3>
                    <h5>
                        i started to learn about personal<br>
                        finance at such a young age - seven<br>
                        years old, to be exact.
                    </h5>
                </td>
            </tr>
            <tr>
                <td><img id="skillpic" style="border-color: crimson;" src="{% static 'story4/images/skill-3.jpeg' %}"></td>
                <td>
                    <h3 style="color: crimson;">game development</h3>
                    <h5>
                        it was my childhood dream to be able<br>
                        to make my own game, i do world<br>
                        design a lot in my spare time.
                    </h5>
                </td>
            </tr>
            <tr>
                <td><img id="skillpic" style="border-color: cornflowerblue;" src="{% static 'story4/images/skill-4.jpg' %}"></td>
                <td>
                    <h3 style="color: cornflowerblue;">body language</h3>
                    <h5>
                        i find it very useful to have the ability<br>
                        to read other's mind from the way they<br>
                        walk to the way they talk.
                    </h5>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="d-xl-flex" style="height: 60px; margin-top: 70px;">
    <div class="middle">
        <a href="https://www.instagram.com/kevindharmawan2002/">
            <img class="contact" src="{% static 'story4/icons/instagram.png' %}" style="border-radius: 50%;">
        </a>
        <a href="https://www.facebook.com/kevin.dharmawan.9/">
            <img class="contact" src="{% static 'story4/icons/facebook.png' %}">
        </a>
        <a href="https://www.linkedin.com/in/kevin-dharmawan-0363151a0/">
            <img class="contact" src="{% static 'story4/icons/linkedin.png' %}">
        </a>
        <a href="mailto: kevin.dharmawan@ui.ac.id">
            <img class="contact" src="{% static 'story4/icons/gmail.png' %}">
        </a>
    </div>
</div>
{% endblock content %}