{% extends 'story4/template.html' %}

{% load static %}

{% block title %}Kevin Dharmawan - Portfolio{% endblock title %}
{% block nav-portfolio %}active{% endblock nav-portfolio %}

{% block add-style %}
body {
    background-image: url("{% static 'story4/images/background-portfolio.png' %}");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
{% endblock add-style %}

{% block content %}
<div class="container-fluid page">
    <div class="middle" style="color: white; margin: 0;">
        <h1>this is my portfolio</h1>
        <h3>scroll down to see some amazing works</h3>
    </div>
</div>

<div class="container-fluid page">
    <div class="middle">
        <h2 style="color:white">mobile apps design</h2>
        <img src="{% static 'story4/images/portfolio-1.png' %}" style="width: 80%;">
    </div>
</div>

<div class="container-fluid page">
    <div class="middle">
        <h2 style="color:white; margin-bottom: 50px;">unknown game</h2>
        <img src="{% static 'story4/images/portfolio-2.png' %}" style="width: 80%;">
    </div>
</div>

<div class="container-fluid page">
    <div class="middle">
        <h2 style="color:white; margin: -20px;">custom card deck</h2>
        <img src="{% static 'story4/images/portfolio-3.png' %}" style="width: 80%;">
    </div>
</div>

<div class="container-fluid page">
    <div class="middle">
        <h2 style="color:white">and...</h2>
    </div>
</div>

<div class="container-fluid page">
    <div class="middle">
        <h2 style="color:white">this website.</h2>
    </div>
</div>
{% endblock content %}