<!DOCTYPE html>
<html>

{% load static %}

    <head>
        <title>{% block title %}{% endblock title %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'story4/style.css' %}">

        <style>
            {% block add-style %}
            {% endblock add-style %}
        </style>
    </head>

    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="padding: 0;">
            <a class="navbar-brand my-nav-item">Kevin Dharmawan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% block nav-home %}{% endblock nav-home %} my-nav-item">
                        <a class="nav-link" href="{% url 'story4:index' %}">Home</a>
                    </li>
                    <li class="nav-item {% block nav-portfolio %}{% endblock nav-portfolio %} my-nav-item">
                        <a class="nav-link" href="{% url 'story4:portfolio' %}">Portfolio</a>
                    </li>
                    <li class="nav-item {% block nav-blog %}{% endblock nav-blog %} my-nav-item">
                        <a class="nav-link" href="{% url 'story4:blog' %}">Blog</a>
                    </li>
                    <li class="nav-item {% block nav-about %}{% endblock nav-about %} my-nav-item">
                        <a class="nav-link" href="{% url 'story4:about' %}">About</a>
                    </li>
                    <li class="nav-item {% block nav-course %}{% endblock nav-course %} my-nav-item">
                        <a class="nav-link" href="{% url 'story4:course' %}">Course</a>
                    </li>
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="{% url 'story1:index' %}">Story 1</a>
                    </li>
                    <li class="nav-item {% block nav-story6 %}{% endblock nav-story6 %} my-nav-item">
                        <a class="nav-link" href="{% url 'story6:index' %}">Story 6</a>
                    </li>
                    <li class="nav-item {% block nav-story8 %}{% endblock nav-story8 %} my-nav-item">
                        <a class="nav-link" href="{% url 'story8:index' %}">Story 8</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="{% url 'story9:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item my-nav-item">
                        <a class="nav-link" href="{% url 'story9:index' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock content %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        <script src="{% static 'story4/script.js' %}"></script>

        {% block script %}
        {% endblock script %}
    </body>
</html>