html, body {
    height: 100%;
}
p, a, h1, h2, h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
}
.my-nav-item {
    font-size: 21px;
    margin-left: 13px;
    margin-right: 13px;
}
.home-greetings {
    background-image: url("images/background-home.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
#separator {
    height: 300px;
}
.page {
    height: 100%;
}
.middle {
    width: 100%;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    vertical-align: middle;
}
.skill {
    text-align: left;
}
#homepic {
    border: 3px solid coral;
    width: 200px;
}
#aboutpic {
    border-radius: 5%;
    border: 5px solid coral;
    width: 400px;
    height: 400px;
}
#skillpic {
    border: 3px solid;
    width: 130px;
    margin: 15px;
    margin-right: 30px;
    border-radius: 50%;
}
.learn {
    width: 350px;
    height: 175px;
    margin-bottom: 20px;
}
.contact {
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
}
.blog {
    background-color: rgba(255, 127, 80, 0.8);
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.blogpic {
    width: 300px;
    height: 200px;
}
.blogtitle {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
}
.blogdate {
    color: white;
    font-size: 13px;
    text-align: center;
}
.highlights {
    color: white;
    font-size: 16px;
    width: 300px;
    word-break: break-all;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.accordion:hover {
    background-color: #ccc;
}
.accordion-content {
    display: none;
}
.accordion p {
    padding: 0;
    margin: 0;
}