<!DOCTYPE html>
<html>

{% load static %}

    <head>
        <title>Kevin Dharmawan - 1906398515</title>
        <link rel="stylesheet" href="{% static 'story1/style.css' %}">      
    </head>
    <body>
        <div class="row">
            <div class="main-info">
                <img src="{% static 'story1/picture.jpg' %}" style="width:250px; border-radius: 50%; border: 7px solid deepskyblue;">
                <p class="bigtext" style="margin-top: 30px;"><b>KEVIN DHARMAWAN</b></p>
                <p class="bigtext"><b>1906398515</b></p>
                <p class="normaltext" style="margin-top: 10px">Computer Science</p>
                <p class="normaltext">University of Indonesia (2019)</p>
                <p class="normaltext" style="margin-top: 50px;"><b>Links</b></p>
                <table class="social-network">
                    <tr>
                        <td style="text-align: center;">
                            <a href="https://www.instagram.com/kevindharmawan2002/"><img src="{% static 'story1/instagram.png' %}" style="width: 30px;"></a>
                        </td>
                        <td><a class="link" href="https://www.instagram.com/kevindharmawan2002/">Instagram</a></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <a href="https://www.linkedin.com/in/kevin-dharmawan-0363151a0/"><img src="{% static 'story1/linkedin.png' %}" style="width: 45px;"></a>
                        </td>
                        <td><a class="link" href="https://www.linkedin.com/in/kevin-dharmawan-0363151a0/">LinkedIn</a></td>
                    </tr>
                    <tr>
                        <td colspan="2"><a class="link" href="/">Story 2</a></td>
                    </tr>
                </table>
                <div style="height: 40px;"></div>
            </div>
            <div class="additional-info">
                <p class="bigtext"><b>About Me</b></p>
                <div class="section description">
                    <p class="smalltext">
                        Saya adalah orang yang sangat suka menantang logika dan kreativitas. Sejak baru memulai perkuliahan, 
                        saya sudah menanti mata kuliah PPW ini karena menurut saya, pemrograman web dapat menantang kreativitas
                        saya dalam membuat desain web dan dapat menantang logika saya dalam membuat sistem dari web tersebut.
                        TP4 pada DDP1 benar-benar membuat saya tertarik dengan pemrograman web karena ada banyak hal yang bisa
                        dijelajahi dan tidak ada batasan dalam membuat web. Namun, mengisi web dengan teks (contoh: deskripsi 
                        ini) adalah hal yang sangat membosankan bagi saya karena tidak ada hal baru yang dapat saya pelajari
                        dari mengisi web.
                    </p>
                </div>
                <div class="section">
                    <p class="normaltext" style="margin-bottom: 10px;"><b>Hobby</b></p>
                    <p class="smalltext">- Renang</p>
                    <p class="smalltext">- Basket</p>
                    <p class="smalltext">- Desain Grafis</p>
                </div>
                <div class="section">
                    <p class="normaltext" style="margin-bottom: 10px;"><b>Education</b></p>
                    <p class="smalltext">- SDK Duta Ursula (2007 - 2013)</p>
                    <p class="smalltext">- SMPK 7 Penabur Jakarta (2013 - 2016)</p>
                    <p class="smalltext">- SMAK 4 Penabur Jakarta (2016 - 2019)</p>
                    <p class="smalltext">- Universitas Indonesia (2019 - Now)</p>
                </div>
            </div>
        </div>
    </body>
</html>