{% extends 'story4/template.html' %}

{% load static %}

{% block title %}Kevin Dharmawan - Story 8{% endblock title %}
{% block nav-story8 %}active{% endblock nav-story8 %}

{% block content %}
<div class="container h-100 w-75">
    <div class="d-flex flex-column justify-content-center">
        <div style="height: 150px;"></div>

        <div class="justify-content-center">
            <input id="keyword" class="form-control" placeholder="Enter Keyword">
        </div>

        <div class="justify-content-center">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 20%;">Author</th>
                        <th scope="col">Title</th>
                        <th scope="col">Picture</th>
                    </tr>
                </thead>
                <tbody id="search-result"></tbody>
            </table>
        </div>

        <div style="height: 150px;"></div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'story8/story8.js' %}"></script>
{% endblock script %}